nav{
    background-color: blue;
}

ul li a{
    color: yellowgreen;
}

aside{
    background-color: orange;
}

body{
    background-color: antiquewhite;
}

.Title{
    background-color: white;
}

footer p{
    color: white;
    background-color: black;
    justify-content: center;
    text-align: center;
}

.row{
    overflow: hidden;
}

.row{
    justify-content: center;
}